<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='header.css') }}" />
    <title>Document</title>
</head>
<body>
    <header>
        <div class="sell">
          <a href="/vendi">Vendi</a>
        </div>
        <nav>
          <ul>
            <li class="dropdown">
              <a href="/home">Catalogo</a>
              <div class="dropdown-content">
                <a href="/maglie">Magliette</a>
                <a href="/scarpe">Scarpe</a>
                <a href="/felpe">Felpe</a>
              </div>
            </li>
          </ul>
        </nav>
        <div class="cart">
          <a href="#">Carrello</a>
        </div>
      </header>
</body>
</html>