<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SCARPE</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='header.css') }}" />

    <style>
        .item {
            list-style-type: none;
            display: inline-block;
            margin-right: 10px;
            padding: 0;
        }
        img{
            width: 50vh;
            height: auto;
        }
    </style>
</head>

<body>
    <header>
        <div class="sell">
          <a href="/vendi">Vendi</a>
        </div>
        <nav>
          <ul>
            <li class="dropdown">
              <a href="/home">Catalogo</a>
              <div class="dropdown-content">
                <a href="/maglie">Magliette</a>
                <a href="/scarpe">Scarpe</a>
                <a href="/felpe">Felpe</a>
              </div>
            </li>
          </ul>
        </nav>
        <div class="cart">
          <a href="#">Carrello</a>
        </div>
      </header>
    <div class="container-items">
        {% for row in p %}
        <ul class="item">
            <li><img src="{{ url_for('static', filename='uploads/' + row.immagine) }}" /></li>
            <li>{{ row.nome }}</li>
            <li>{{ row.descrizione }}</li>
            <li>{{ row.taglia }}</li>
            <li>{{ row.prezzo }}</li>
        </ul>
        
        {% endfor %}
    </div>
    </div>

    <script>
        const btnCart = document.querySelector('.container-icon')
        const containerCartProducts = document.querySelector('.container-cart-products')

        btnCart.addEventListener('click', () => {
            containerCartProducts.classList.toggle('hidden-cart')
        })
    </script>
</body>

</html>