<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="">
        {% for row in p %}
        <input type="text" name="id" id="id" value="{{row.id}}">
        <input type="text" name="nome" id="nome" placeholder="nome" value="{{row.nome}}">
        <input type="text" name="quantita" id="quantita" placeholder="quantita" value="{{row.quantita}}">
        {% endfor %}
    </form>
    {{a}}
</body>
</html>