<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/data" method="POST">
        <input type="text" name="id" id="id" placeholder="id">
        <input type="text" name="nome" id="nome" placeholder="nome">
        <input type="text" name="quantita" id="quantita" placeholder="quantita">
        <input type="submit">
    </form>
    <hr>

    <form action="/ricerca" method="POST">
        <input type="text" name="id" id="id" placeholder="id">
        <input type="submit">
    </form>
    <hr>
    <form action="/modifica" method="POST">
        <input type="text" name="id" id="id" placeholder="id">
        <input type="text" name="quantita" id="quantita" placeholder="quantita">
        <input type="submit">
    </form>
    <hr>
    <form action="/visualizza" method="POST">
        <input type="submit" value="visualizza tabella">
    </form>
</body>
</html>